.form-cidade-container{
    width: 100%;
}

.form-cidade-main{
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}

#title{
    display: flex;
    justify-content: center;
    margin: 15px 15px;
}

.field{
    width: 100%;
}

.mat-card-error{
    background-color: rgb(255, 63, 63);
    color: white;
    border: 1px solid black;
}

.error{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.menssageError{
    margin: 0 3px;
}

.success{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.mat-card-success{
    background-color: rgb(9, 241, 9);
    color: white;
    border: 1px solid black;
}
.menssageSuccess{
    margin: 0 3px;
}